<div class="py-5 text-center text-white bg-primary bgimg">
    <div class="container py-5">
      <div class="row py-5">
        <div class="mx-auto col-lg-10">
          <h1 class="display-4 mb-4 ">Live form</h1>
          <div [class]="isError?'alert alert-danger':'d-none'">{{message}}</div>
            <div [class]="isSuccess?'alert alert-success':'d-none'">{{message}}</div>
          <form class="mb-3" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4 col-12">
                 <div class="form-group">
                     <label for="checkIn">Name</label>
                     <input type="text" required formControlName="name" class="form-control" id="Input" name="nameInput"/>
                 </div>	
                </div>
                <div class="col-md-4 col-12">
                 <div class="form-group">
                     <label for="checkOut">Email</label>
                     <input type="email" formControlName="email" required  class="form-control" id="mailInput" name="mailInput"/>
                 </div>	
                </div>
                <div class="col-md-4 col-12">
                 <div class="form-group">
                     <label for="datepickerInput">Phone:</label>
                     <input type="tel" class="form-control" formControlName="phone" id="phoneInput" name="phoneInput"/>
                 </div>	
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12">
                 <div class="form-group">
                     <label for="checkIn">Payment</label>
                     <input type="text" value="Payment section"  class="form-control" id="Input" name="nameInput"/>
                 </div>	
                </div>
                <div class="col-md-4 col-12">
                 <div class="form-group">
                     <label for="checkOut">Date:</label>
                     <input type="date" formControlName="fordate"  min="2021-11-16" max="2022-12-31" class="form-control" id="datepickerInput" name="datepickerInput"/>
                 </div>	
                </div>
                <div class="col-md-4 col-12">
                 <div class="form-group">
                     <label for="datepickerInput">Time:</label>
                     <input type="time" formControlName="fortime" class="form-control" id="datepickerInput" name="datepickerInput"/>
                 </div>	
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-outline-light mx-1">Submit</button>
          </form> 
          
         
        </div>
      </div>
    </div>
  </div>