
  
  <div class="py-5 text-center text-white bg-primary bgimg" >
    <div class="container py-5">
      <div class="row py-5">
        <div class="mx-auto col-lg-10">
          <h1 class="display-5 mb-4 ">Find deals on hotels, homes, and much more... </h1>
          <p class="lead mb-5">From cozy country homes to funky city apartments</p>
          <form class="mb-3" >
            <div class="row">
                <div class="col-md-4 col-12">
                 <div class="form-group">
                     <label for="checkIn">Checkin:</label>
                     <input type="date" min="2021-11-16" max="2022-12-31" class="form-control" id="datepickerInput" name="datepickerInput"/>
                 </div>	
                </div>
                <div class="col-md-4 col-12">
                 <div class="form-group">
                     <label for="checkOut">Checkout:</label>
                     <input type="date"  min="2021-11-16" max="2022-12-31" class="form-control" id="datepickerInput" name="datepickerInput"/>
                 </div>	
                </div>
                <div class="col-md-4 col-12">
                 <div class="form-group">
                     <label for="datepickerInput">Hotel Location:</label>
                     <input type="text" class="form-control" id="datepickerInput" name="datepickerInput"/>
                 </div>	
                </div>
            </div>
          </form> 
          
          <a routerLink="/hotel" class="btn btn-lg btn-outline-light mx-1">Search Availability</a>
        </div>
      </div>
    </div>
  </div>